.card-box {
    background: coral;
    color: #fff;
    font-size: 21px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.transiction-box {
    background: rgb(128, 56, 30);
    color: #fff;
    font-size: 21px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.trans-title {
    font-size: 12px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}
